<div class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/brand">Brand</a></li>
  <li><%=@brand.name%> <%=@brand.id%></li>
</div>
<div class="wrapper">
<h4>Name: <%=@brand.name%></h4>
<h4>Price: <%=@brand.price%></h4>
</div>
