<div class="breadcrumb">
  <li>Home</li>
</div>
<div class="wrapper">
  <h1>Welcome to shoe store</h1>
  <button type="button" class="btn btn-success" name="button"><a href="#">Shoe Stores List</a></button>
  <button type="button" class="btn btn-success" name="button"><a href="#">Shoe Brands List</a></button>
</div>
