<div class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/store">Store</a></li>
  <li><%=@store.name%></li>
</div>
<div class="wrapper">
  <h1><%=@store.name%></h1>
  <ul>
    <%if @store.brands.any?()%>
  </ul>
</div>
